---
layout: archive
title: "Advisor Tree"
permalink: /advisor-tree/
author_profile: true
---

<div class="tree">
<p></p>
<ul> <!-- L11 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Carl_Friedrich_Gauss">Carl Friedrich Gauss</a>
<ul> <!-- L10 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Christoph_Gudermann">Christoph Gudermann</a>
<ul> <!-- L9 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Karl_Weierstrass">Karl Weierstrass</a>
<ul> <!-- L8 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Carl_Runge">Carl Runge</a>
<ul> <!-- L7 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Max_Born">Max Born</a>
<ul> <!-- L6 -->
<li> 
<a href="https://en.wikipedia.org/wiki/J._Robert_Oppenheimer">Robert Oppenheimer</a>
<ul> <!-- L5 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Sidney_Dancoff">Sidney Dancoff</a>
<ul> <!-- L4 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Sidney_Drell">Sidney Drell</a>
<ul> <!-- L3 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Heinz_Pagels">Heinz Pagels</a>
<ul>
<li> <!-- L2 -->
<a href="https://en.wikipedia.org/wiki/Seth_Lloyd">Seth Lloyd</a>
<ul>
<li> <!-- L1 -->
<a href="https://bkiani.github.io/"><span style="font-size: 20px; color: green;">Me</span></a>
</li> <!-- L1 --> 
</ul> 
</li> <!-- L2 -->
</ul> 
</li> <!-- L3 -->
</ul> 
</li> <!-- L4 -->
</ul> 
</li> <!-- L5 -->
<li> <!-- L6-2 -->
<a href="https://en.wikipedia.org/wiki/David_Bohm">David Bohm</a>
</li>
</ul> 
</li> <!-- L6 -->
<li> <!-- L6-2 -->
<a href="https://en.wikipedia.org/wiki/Maria_Goeppert_Mayer">Maria Goeppert Mayer</a>
</li>
<li> <!-- L6-3 -->
<a href="https://en.wikipedia.org/wiki/Pascual_Jordan">Pascual Jordan</a>
</li>
</ul> 
</li> <!-- L7 -->
</ul> 
</li> <!-- L8 -->
<li> <!-- L8-2 -->
<a href="https://en.wikipedia.org/wiki/Sofya_Kovalevskaya">Sofya Kovalevskaya</a>
</li>
<li> <!-- L8-3 -->
<a href="https://en.wikipedia.org/wiki/Georg_Cantor">Georg Cantor</a>
</li>
</ul> 
</li> <!-- L9 -->
</ul> 
</li> <!-- L10 -->
<li> <!-- L10-2 -->
<a href="https://en.wikipedia.org/wiki/Bernhard_Riemann">Bernhard Riemann</a>
</li>
</ul> 
</li> <!-- L11 -->
</ul> </div>

<link rel="stylesheet" href="{{ "/assets/css/tree.css" | relative_url }}">

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
