---
layout: archive
title: "Advisor Tree"
permalink: /advisor-tree/
author_profile: true
---

<div class="tree">
<ul> <!-- L6 -->
<li> 
<a href="https://en.wikipedia.org/wiki/J._Robert_Oppenheimer">Robert Oppenheimer</a>
<ul> <!-- L5 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Sidney_Dancoff">Sidney Dancoff</a>
<ul> <!-- L4 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Sidney_Drell">Sidney Drell</a>
<ul> <!-- L3 -->
<li> 
<a href="https://en.wikipedia.org/wiki/Heinz_Pagels">Heinz Pagels</a>
<ul>
<li> <!-- L2 -->
<a href="https://en.wikipedia.org/wiki/Seth_Lloyd">Seth Lloyd</a>
<ul>
<li> <!-- L1 -->
<a href="https://bkiani.github.io/">Me</a>
</li> <!-- L1 --> 
</ul> 
</li> <!-- L2 -->
</ul> 
</li> <!-- L3 -->
</ul> 
</li> <!-- L4 -->
</ul> 
</li> <!-- L5 -->
</ul> 
</li> <!-- L6 -->
</ul> 
</div>

<link rel="stylesheet" href="{{ "/assets/css/tree.css" | relative_url }}">

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
